<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="inal_Project_2.Properties.Settings.FINALConnectionString"
            connectionString="Data Source=DESKTOP-TOC33KQ\NGUYEN;Initial Catalog=FINAL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>